body{
    background-color:white;
}

header{
    background-color:rgb(255, 95, 95);
}

nav a{
    font-size:1.5em;
    list-style-type:none;
    margin: 0.6em 1em;
    color:rgb(182, 182, 182);
    display:inline;
    line-height:2em;
    padding:10px;
    border-radius: 15px;
}
